// ============================================================
// Card Base
// ============================================================

.of-card {
  --of-card-radius: 12px;
  --of-card-padding-inner: 12px;
  // Layout
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  // Visual
  background-color: var(--of-surface);
  border: 1px solid var(--of-neutral-100, #C2C2C2);
  box-shadow: 0px 1px 0px rgba(0,0,0,.07), inset 0px -1px 0px #d4d4d4;
  border-radius: var(--of-card-radius);
  // Dimensões
  width: 100%;
  min-width: 0;
}

// ============================================================
// Card Header
// ============================================================

.of-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
  background-color: var(--of-neutral-50, #F8F8F8);
  border-radius: var(--of-card-radius) var(--of-card-radius) 0 0;
  padding: var(--of-card-padding-inner);
  border-bottom: 1px solid var(--of-neutral-100, #d4d4d4);
}

.of-card-title {
  margin: 0;
  font-family: var(--of-font-family, "Inter", sans-serif);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--of-neutral-900, #000000);
  flex: 1;
}

// ============================================================
// Card Content
// ============================================================

.of-card-content {
  width: 100%;
  flex: 1;
  min-width: 0;
  padding: var(--of-card-padding-inner);
}

// ============================================================
// Card Section
// ============================================================

.of-card-section {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--of-neutral-200, #C2C2C2);
  }
}

.of-card-section-title {
  margin: 0 0 8px 0;
  font-family: var(--of-font-family, "Inter", sans-serif);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--of-neutral-800, #0B0B0B);
}

// ============================================================
// Card Footer
// ============================================================

.of-card-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  border-top: 1px solid var(--of-neutral-100, #d4d4d4);
  padding: var(--of-card-padding-inner);
  border-radius: 0 0 var(--of-card-radius) var(--of-card-radius);
  gap: 8px;
}
